body {
  background-color: seagreen;
  padding: 25px 20px;
  margin: 0;
  position: relative;
}

h1 {
  color: white;
  font-size: 28px;
}

ul {
  list-style: none;
}

li {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 20px;
  width: 600px;
}

p {
  font-size: 18px;
  margin: 0;
}

a {
  background-image: url(http://pluspng.com/img-png/red-cross-png-red-cross-png-file-2000.png);
  background-size: cover;
  flex-basis: auto;
  height: 20px;
  width: 20px;
}

a:hover {
  height: 25px;
  width: 25px;
}

div {
  border: none;
  display: none;
  box-sizing: border-box;
}

/* div.visible {
  display: block;
} */

div#modal-background {
  background-color: rgb(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%
}

div#modal {
  background-color: white;
  border-radius: 5px;
  height: 150px;
  left: 542px;
  margin: 0;
  padding: 39px 21px 10px 21px;
  position: absolute;
  top: 142px;
  width: 500px;
}

div#modal button {
  border: none;
  border-radius: 5px;
  bottom: 11px;
  color: white;
  font-size: 16px;
  height: 33px;
  position: absolute;
  width: 60px;
}

button#delete-todo {
  background-color: maroon;
  right: 85px;
}

button#cancel-delete {
  background-color: forestgreen;
  right: 20px;
}
