@import url("../whitespace-reset.css");

header {
  background-color: orange;
  border-radius: 5px;
  color: white;
  padding: 20px 20px 10px 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

select,
input[type="submit"] {
  background-color: orange;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
}

select {
  height: 25px;
  margin: 0 8px 0 5px;
  width: 80px;
}

input[type="submit"] {
  height: 27.5px;
  margin-left: 20px;
  width: 51px;
}

main {
  padding: 30px 20px;
}

#cars {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

#cars li {
  flex-basis: 224px;
  margin-bottom: 20px;
}

#cars img {
  margin-bottom: 5px;
  width: 200px;
}

#cars p {
  margin: 5px 0;
}

#cars button {
  background-color: orange;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  height: 28.5px;
  width: 46px;
}
